header,
main,
footer {
    border: 1px solid fuchsia;
}


/* reset */
body {
    padding: 0;
}

/* element selectors */
body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0 auto;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header,
main,
footer {
    padding: 1.5rem;
}


main {
    flex-grow: 1;
    max-width: 80rem;
}

/* classes */

.mt- {
    margin-top: 0.75rem;
}

.pt {
    padding-top: 1.5rem;
}