/* element selectors */
a:active {
    background-color: transparent;
    color: fuchsia;
    text-decoration: underline;
}

a:hover {
    background-color: transparent;
    color: fuchsia;
    text-decoration: underline;
}

a:link {
    color: fuchsia;
    background-color: transparent;
    font-weight: bolder;
    text-decoration: none;
}

a:visited {
    background-color: transparent;
    color: fuchsia;
    font-weight: bold;
    text-decoration: none;
}

body {
    display: flex;
    flex-direction: column;
    font-family: ralewayregular;
    height: 100vh;
    margin: 0;
}

footer {
    background-color: #20FC8F;
    display: flex;
    font-weight: bold;
    justify-content: center;
    padding: 1.5rem;
    text-align: center;
}

header {
    align-items: center;
    background-color: black;
    border: 1px solid black;
    color: white;
    display: flex;
    font-family: millikregular;
    font-weight: 100;
    justify-content: space-between;
    padding: 1.5rem;
}

h1,
nav {
    padding-right: 10px;
}

h2,
h3 {
    font-family: ralewaybold;
}

h3:hover {
    color: black;
    animation: glow 1s ease-in-out infinite
}

@keyframes glow {
    from {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
    }

    to {
        text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
    }
}

main {
    background: #20FC8F;
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
}

/* classes */
.hero-content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    max-width: 450px;
    width: auto;
}

.icon {
    border: 4px solid #fff;
    border-radius: 100%;
    box-shadow: -1px 9px 13px #404040;
    color: #fff;
    cursor: pointer;
    height: 50px;
    line-height: 5.1rem;
    position: relative;
    width: 50px;
}

.image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    max-width: 450px;
    height: 338px;
    position: relative;
    background-position: center;
    background-size: cover;
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.85)), url('./../images/horiseonwebsite.png');
}

.mt {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-top: 0.75rem;
    width: auto;
    max-width: 300px;
    position: relative;
}

.prof-pic {
    width: auto;
    max-width: 100px;
    padding: 10px;
}

.secondary {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 0.75rem;
    position: relative;
    width: auto;
}

.secondary-content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: auto;
    max-width: 300px;
}

/* media queries */

/* Tablets - navbar and secondary content change direction */
@media screen and (max-width: 992px) {

    html,
    body {
        overflow-x: hidden;
    }

    nav {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }
}